@import 'src/scss/vars';

.wrapper {
	padding: 10px 15px;
	border-radius: 10px;
	background: rgb(0 0 0 / 20%);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.cart {
	position: relative;

	path {
		-webkit-transition: fill 0.2s linear;
		-o-transition: fill 0.2s linear;
		transition: fill 0.2s linear;
	}

	&:hover {
		path {
			fill: $accent-color;
		}
	}

	.count {
		position: absolute;
		bottom: 20px;
		font-size: $main-size;
		line-height: 15px;
		text-align: center;
		color: black;
		width: 16px;
		height: 16px;
		background-color: $accent-color;
		border-radius: 100%;
		left: 20px;
	}
}
