@import 'src/scss/vars';

.cart {
	position: relative;

	path {
		transition: fill 0.2s linear;
	}

	&:hover {
		path {
			fill: $accent-color;
		}
	}

	.count {
		position: absolute;

		bottom: 20px;
		left: 20px;

		font-size: $main-size;
		line-height: 15px;
		text-align: center;
		color: black;

		width: 16px;
		height: 16px;

		background-color: $accent-color;
		border-radius: 100%;
	}
}
