@import '/src/scss/vars';
@import '/src/scss/mixins';

.root {
	position: relative;
	margin-top: 100px;
	overflow: hidden;
	padding-bottom: 123px;

	&::before {
		@include blur($accent-color, 879.44px, 211.054px, 32.828deg, 879.44px);

		top: 60%;
		right: 0;
	}

	&::after {
		@include blur($active-color, 707.545px, 236.872px, 32.828deg, 707.545px);

		top: 50%;
		left: 0;
	}

	.backtext {
		span {
			position: absolute;
			color: #0a1717;
			font-size: 200px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 8px;
			text-transform: uppercase;
			z-index: -2;

			&:nth-child(1) {
				bottom: 63%;
				right: -13%;
			}

			&:nth-child(2) {
				bottom: 30%;
				left: -2%;
			}

			&:nth-child(3) {
				bottom: 20%;
				left: 50%;
			}
		}

		@include small-tablet {
			display: none;
		}
	}

	h1 {
		margin-bottom: 10px;

		@include small-tablet {
			margin-top: 100px;
			font-size: 60px;
			text-align: center;
		}

		@include mobile {
			font-size: 40px;
		}
	}

	.text {
		margin-top: 10px;
		font-family: Oswald, serif;
		font-size: $subtitle-size;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 0.4px;

		p {
			margin-bottom: 30px;
		}

		@include tablet {
			margin-left: 0;
		}

		@include mobile {
			display: none;
		}
	}

	.cards {
		overflow: hidden;
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;

		@include tablet {
			grid-template-columns: 1fr;
			gap: 40px;
			max-width: none;
			min-width: 100%;
			text-align: center;
		}
	}

	.card {
		position: relative;
		max-width: 520px;
		padding: 30px;
		margin-bottom: 30px;
		border-radius: 20px;
		background: rgb(0 0 0 / 20%);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		font-family: Oswald, serif;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1.2px;
		text-transform: uppercase;

		&:nth-child(2) {
			max-width: 430px;
			height: 281px;
		}

		&:nth-child(3) {
			height: 310px;
		}

		&:nth-child(4) {
			height: 264px;
			margin-top: 70px;

			@include tablet {
				margin-top: 0;
			}
		}

		h2 {
			margin-left: 29px;
			margin-bottom: 20px;
			color: $accent-color;
			font-size: 30px;
			font-weight: 700;

			@include tablet {
				margin-left: 0;
			}

			@include mobile {
				font-size: $subtitle-size;
			}
		}

		ul {
			margin-left: 29px;

			.list {
				margin-bottom: 4px;
				font-size: 18px;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.72px;
				list-style-position: inside;

				@include tablet {
					margin-bottom: 6px;

					&:nth-last-child(2) {
						margin-bottom: 30px;
					}
				}

				@include mobile {
					font-size: $second-size;
				}
			}

			@include tablet {
				margin-left: 0;
			}
		}

		.link {
			position: absolute;
			bottom: 30px;
			right: 30px;
			color: $second-color;
			font-size: $main-size;
			font-weight: 700;
			-webkit-text-decoration-line: underline;
			text-decoration-line: underline;

			@include tablet {
				position: static;
				margin-top: 50px;
			}
		}

		@include tablet {
			min-width: 100%;
			max-width: none;
			font-size: 14px;
			margin: 0;
			height: auto !important;
		}
	}
}
