.root {
	h1 {
		margin-bottom: 10px;

		color: #fff;
		font-family: Cormorant, serif;
		font-size: 100px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.text {
		width: 50%;

		color: #fff;
		font-family: Oswald, serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 0.4px;

		p {
			width: 90%;

			margin-bottom: 30px;
		}
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	.card {
		max-width: 540px;
		padding: 30px;
		margin-top: 30px;

		border-radius: 20px;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(10px);

		font-family: Oswald, serif;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1.2px;
		text-transform: uppercase;

		&:nth-child(2) {
			width: 30%;
		}

		h2 {
			width: 80%;

			margin-left: 29px;

			color: #43ffd2;
			font-size: 30px;
			font-weight: 700;
		}

		.link {
			margin-left: 200px;

			color: #d978ac;
			font-size: 12px;
			font-weight: 700;

			text-decoration-line: underline;
		}
	}
}
