@import '/src/scss/vars';

.root {
	position: relative;
	margin-top: 50px;
	overflow: hidden;

	padding-bottom: 223px;

	&:before {
		position: absolute;

		content: '';
		top: 60%;
		right: 0;

		width: 879.44px;
		height: 211.054px;
		transform: rotate(32.828deg);
		flex-shrink: 0;

		border-radius: 879.44px;
		background: $accent-color;
		filter: blur(125px);

		z-index: -1;
	}

	&:after {
		position: absolute;

		content: '';
		top: 50%;
		left: -0%;

		width: 707.545px;
		height: 236.872px;
		transform: rotate(32.828deg);
		flex-shrink: 0;

		border-radius: 707.545px;
		background: $active-color;
		filter: blur(125px);

		z-index: -1;
	}

	.backtext {
		span {
			position: absolute;

			color: #0a1717;
			font-size: 200px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 8px;
			text-transform: uppercase;

			z-index: -2;

			&:nth-child(1) {
				bottom: 63%;
				right: -13%;
			}

			&:nth-child(2) {
				bottom: 30%;
				left: -2%;
			}

			&:nth-child(3) {
				bottom: 20%;
				left: 50%;
			}
		}
	}

	h1 {
		margin-bottom: 10px;
	}

	.text {
		width: 50%;
		margin-left: 1%;
		margin-bottom: 50px;

		font-family: Oswald, serif;
		font-size: $subtitle-size;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 0.4px;

		p {
			max-width: 540px;
			margin-bottom: 30px;
		}
	}

	.cards {
		overflow: hidden;

		position: relative;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}

	.card {
		position: relative;

		max-width: 520px;
		padding: 30px;
		margin-bottom: 30px;

		border-radius: 20px;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(10px);

		font-family: Oswald, serif;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1.2px;
		text-transform: uppercase;

		&:nth-child(2) {
			width: 40%;
			max-width: 430px;
			min-height: 281px;
		}

		&:nth-child(3) {
			width: 40%;
			max-width: 580px;
			min-height: 221px;
		}

		&:nth-child(4) {
			width: 40%;
			max-width: 580px;
			min-height: 225px;
		}

		h2 {
			width: 80%;

			margin-left: 29px;
			margin-bottom: 20px;

			color: $accent-color;
			font-size: 30px;
			font-weight: 700;
		}

		ul {
			margin-left: 29px;
		}

		.link {
			position: absolute;

			bottom: 30px;
			right: 30px;

			color: $second-color;
			font-size: $main-size;
			font-weight: 700;

			text-decoration-line: underline;
		}
	}
}
