@import 'src/scss/vars';
@import 'src/scss/mixins';

.inputWrapper {
	position: relative;
}

input {
	margin-bottom: 20px;
	padding: 20px;

	max-width: 445px;
	width: 100%;

	@include tablet {
		input {
			max-width: none;
			width: 100%;
		}
	}
}

.error {
	border: 1px solid $error-color;
}

.errorMessage {
	position: absolute;
	color:$error-color;
	bottom: 0;
	left: 0;

	z-index: 1;
}