@import 'src/scss/vars';
@import 'src/scss/mixins';

.form {
		@include grid;
		form {
			grid-column: 8/13;
			@include flex-column;
			align-items: flex-start;
			max-width: 445px;
			width: 100%;

			.input {
				width: 100%;
				max-width: 445px;
			}

			button {
				margin: 10px 0;
				padding: 16px 93px;
			}

			p {
				font-family: Roboto, sans-serif;
				font-size: 11px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.2px;

				text-transform: none;

				a {
					color: #d978ac;
					text-decoration-line: underline;
				}
			}
		}

		@include tablet {
			form {
				display: block;
				grid-column: 1/12;

				text-align: left;
				max-width: none;
				width: 100%;

				.input {
					max-width: none;
					width: 100%;
				}
			}
		}
	}

