@import 'src/scss/vars';
@import 'src/scss/mixins';

.root {
	position: relative;

	padding-top: 22px;
	padding-bottom: 52px;

	background-color: #0f2222;

	z-index: 1;

	&:before {
		position: absolute;

		content: '';
		top: 180px;
		left: 30%;

		width: 244.77px;
		height: 285.945px;
		transform: rotate(32.828deg);
		flex-shrink: 0;

		background: $accent-color;

		filter: blur(125px);
		z-index: -1;

		@include mobile {
			width: 105.699px;
			height: 123.479px;
			filter: blur(50px);

			left: 60%;
			top: 150px;
		}
	}

	&:after {
		position: absolute;

		content: '';
		top: 100px;
		left: 0;

		width: 416.232px;
		height: 427.121px;
		transform: rotate(32.828deg);
		flex-shrink: 0;

		background: $active-color;
		filter: blur(125px);

		z-index: -2;

		@include mobile {
			width: 179.741px;
			height: 184.443px;
			filter: blur(50px);

			left: 20%;
		}
	}

	.leaves {
		position: absolute;
		width: 691.885px;
		height: 800px;

		background: url('https://i.ibb.co/XXz3gzY/image-123.png') no-repeat
			transparent left top;
		background-size: 691.885px 1037.827px;

		z-index: -1;

		@include tablet {
			background-position: right top;

			right: 0;
			top: -10%;

			width: 591.885px;
			height: 737.827px;

			background-size: 591.885px 737.827px;

			transform: scaleX(-1);
		}

		@include mobile {
			width: 252.365px;
			height: 378.547px;

			top: 0;

			background-size: 252.365px 378.547px;
		}
	}

	.have {
		position: absolute;
		width: 305px;
		height: 305px;

		background: url('https://i.ibb.co/tHH6Pzk/have-any-questions.png') no-repeat
			transparent left top;

		top: 250px;
		left: 35%;

		z-index: 2;

		@include tablet {
			background-size: 205px 205px;

			top: 220px;
			left: 20%;
		}

		@include mobile {
			width: 135px;
			height: 135px;

			background-size: 135px 135px;
			top: 120px;
			left: 35%;
		}
	}

	.head {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 70px;

		@include tablet {
			grid-template-columns: repeat(1, 1fr);
		}

		.title {
			grid-column: 1 / 8;
			span {
				margin-left: 80px;
			}

			@include tablet {
				font-size: 80px;
			}

			@include mobile {
				font-size: 50px;
			}

			@include tablet {
				grid-column: 1;
				span {
					margin-left: 0;
				}
			}
		}

		.text {
			grid-column: 9 / 13;
			max-width: 255px;
			width: 100%;

			.line {
				display: block;
				margin: 53px 0;

				min-width: 255px;
				width: 100%;
				height: 1px;

				background: $accent-color;

				@include tablet {
					min-width: 100px;
					width: 50%;
					text-align: center;
					margin: 0 auto 53px auto;
				}

				@include mobile {
					margin: 0;
					margin-bottom: 20px;
				}
			}

			@include tablet {
				grid-column: 1/-1;
				text-align: center;
				margin: 0 auto 30px auto;

				@include mobile {
					text-align: left;
					margin: 0;
					margin-bottom: 30px;
				}
			}
		}
	}

	.form {
		@include grid;
		form {
			grid-column: 8/13;
			@include flex-column;
			align-items: flex-start;
			max-width: 445px;
			width: 100%;

			input {
				margin-bottom: 10px;
				padding: 20px;

				width: 100%;
				max-width: 445px;
			}

			button {
				margin: 10px 0;
				padding: 16px 93px;
			}

			p {
				font-family: Roboto Condensed, serif;
				font-size: $small-size;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.2px;

				text-transform: none;

				a {
					color: #d978ac;
					text-decoration-line: underline;
				}
			}
		}

		@include tablet {
			form {
				grid-column: 2/12;
				text-align: left;
				max-width: none;
				width: 100%;

				input {
					max-width: none;
					width: 100%;
				}
			}
		}

		@include mobile {
			display: block;
			grid-column: 1/12;
		}
	}
}
