@import '/src/scss/vars';
@import '/src/scss/mixins';

.root {
	position: relative;
	padding-bottom: 200px;
	margin-bottom: 50px;

	background: url('https://s3-alpha-sig.figma.com/img/6233/221e/3b9c2bc4fe6c0d9fe34cd09531ca99c7?Expires=1702857600&Signature=MkRrRN6yabzaKHzAvTceeKdlWLfEFduoHl8GdP41tUUjswe--wMedWLtGiMnXqurzq-TVN0GOzXm0K55-N~li0XfKHVoi~LCBH5a04QhvGuhsK4STYr3T2oripxq-VcrtMZNIpJKshylRpMfapV8YPl9E0FBVYsK-WLJnkQ-eQwfdO4QVt0XkBSH6zfPA4g1FOgoFqnBlyyhLRSN08YoWMZVzcnhHV9UUDFOxQTOyjtKD9AvZYJkVez34Dq6saNldkRHNZ6V-~XEtpGISG78u4ZqQApPMotJWXow6xni-YEm3n6OSG-5c7ey9fx8IdGjY77vSNKMIClGaTXnCE78YQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4')
		no-repeat -10%;

	background-size: 562px 845px;

	.title {
		margin-bottom: 180px;
		position: relative;
		width: 65%;

		span {
			position: absolute;

			top: 100px;
			left: 0;

			z-index: -2;
		}
	}

	.columns {
		margin-left: 40%;
		@include flex-v-center;
		width: 65%;

		.column {
			&:not(:last-child) {
				margin-right: 50px;
			}

			@include flex;
			justify-content: flex-end;

			&:last-child {
				width: 1px;
				height: 400px;
				background-color: $second-color;
			}

			.step {
				margin-bottom: 40px;

				font-style: normal;
				line-height: normal;
				text-transform: uppercase;

				.line {
					display: block;
					margin-bottom: 35px;

					width: 65px;
					height: 10px;
					flex-shrink: 0;

					background: $second-color;
				}

				h3 {
					color: $second-color;
					font-size: 30px;
					font-weight: 700;
					letter-spacing: 1.2px;
				}

				p {
					font-size: $second-size;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					letter-spacing: 0.56px;
					text-transform: uppercase;
				}
			}
		}
	}

	.flover {
		position: absolute;

		content: '';

		width: 305px;
		height: 140px;

		bottom: 15%;
		right: 5%;
		background: no-repeat url('https://i.ibb.co/JQdrWrt/lover-flower.png')
			center/contain;

		z-index: 6;
	}
}
