.root {
	position: relative;
	padding-bottom: 200px;
	margin-bottom: 50px;

	background: url('https://s3-alpha-sig.figma.com/img/6233/221e/3b9c2bc4fe6c0d9fe34cd09531ca99c7?Expires=1701648000&Signature=my8skpp4TD~LHAG-hK~XDuYiFCjCc6HTNtcCPvjuFUv5YndGa7UgHfMVge48~p-17Il9ab8UjEqD-SHGXbmkKOZQd3iV~EW3XJgcK1IBS8XlTdAFFaPzIPNk2SWmpcFBOxetFAEuv--ti9vqUHbexNRKFaWrMK7EBLXGZWqoptKq-HmCEjN~XDrtY57-OvMR0d-7zHP7~TNfc6e8c1KI7hMK7~XO47qRXCuvql9R6H9Ch60mDwLbWcq73dYdHpbQOYPNF0DevvBM~ek3BEIZGuClhjmoPZfqu~Fv-bcki4xKLoHu2s2gHHL4GRLwk34QYo68Xukt6lLkN48Sy5MHJQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4')
		no-repeat -10%;

	background-size: 562px 845px;

	.title {
		margin-bottom: 180px;
		position: relative;
		width: 65%;

		span {
			position: absolute;

			top: 100px;
			left: 0;

			z-index: -2;
		}
	}

	.columns {
		margin-left: 40%;
		display: flex;
		align-items: center;
		width: 65%;

		.column {
			&:not(:last-child) {
				margin-right: 50px;
			}

			display: flex;
			justify-content: flex-end;

			&:last-child {
				width: 1px;
				height: 400px;
				background-color: #d978ac;
			}

			.step {
				margin-bottom: 40px;

				font-style: normal;
				line-height: normal;
				text-transform: uppercase;

				.line {
					display: block;
					margin-bottom: 35px;

					width: 65px;
					height: 10px;
					flex-shrink: 0;

					background: #d978ac;
				}

				h3 {
					color: #d978ac;
					font-size: 30px;
					font-weight: 700;
					letter-spacing: 1.2px;
				}

				p {
					color: #fff;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					letter-spacing: 0.56px;
					text-transform: uppercase;
				}
			}
		}
	}

	.flover {
		position: absolute;

		content: '';

		width: 305px;
		height: 140px;

		bottom: 15%;
		right: 5%;
		background: no-repeat url('https://i.ibb.co/JQdrWrt/lover-flower.png')
			center/contain;

		z-index: 6;
	}
}
