.root {
	position: fixed;
	width: 100%;
	margin: 0 auto;

	background-color: transparent;

	z-index: 100;

	.list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left,
		.right {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		nav {
			margin-right: 50px;

			span {
				margin-right: 10px;
				path {
					transition: fill 0.2s linear;
				}
			}

			&:hover {
				span {
					path {
						fill: #43ffd2;
					}
				}
			}

			.phone {
				position: relative;
				color: #43ffd2;

				span {
					position: absolute;
					content: '';

					top: 2px;
					left: -27px;

					width: 18px;
					height: 18px;

					background: url('https://svgur.com/i/zBm.svg');
				}
			}
		}
	}
}
