@import 'src/scss/vars';
@import '/src/scss/mixins';

.root {
	position: absolute;
	width: 100%;
	margin: 0 auto;

	background-color: transparent;

	z-index: 100;

	.list {
		@include flex-all-sb;

		.left,
		.right {
			@include flex-all-sb;
		}

		nav {
			margin-right: 50px;

			span {
				margin-right: 10px;
				path {
					transition: fill 0.2s linear;
				}
			}

			&:hover {
				span {
					path {
						fill: $accent-color;
					}
				}
			}

			.phone {
				position: relative;
				color: $accent-color;

				span {
					position: absolute;
					content: '';

					top: 2px;
					left: -27px;

					width: 18px;
					height: 18px;

					background: url('https://svgur.com/i/zBm.svg');
				}
			}
		}
	}
}
