@import 'src/scss/vars';
@import '/src/scss/mixins';

.root {
	//position: absolute;
	width: 100%;
	margin: 0 auto;

	background-color: transparent;

	z-index: 100;

	.list {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 100px;

		text-align: center;
		align-items: center;

		.left {
			display: grid;
			align-items: center;
			grid-template-columns: repeat(7, auto);
			gap: 50px;

			@include mobile {
				display: none;
			}
		}

		.right {
			display: grid;
			align-items: center;
			grid-template-columns: repeat(2, auto);
			gap: 30px;
		}

		nav {
			span {
				margin-right: 10px;
				path {
					transition: fill 0.2s linear;
				}
			}

			&:hover {
				span {
					path {
						fill: $accent-color;
					}
				}
			}

			.phone {
				position: relative;
				color: $accent-color;

				span {
					position: absolute;
					content: '';

					top: 2px;
					left: -27px;

					width: 18px;
					height: 18px;

					background: url('https://svgur.com/i/zBm.svg');
				}

				@include for-desktop() {
					display: none;
				}
			}
		}
		@include for-desktop() {
			grid-template-columns: auto 50px;
			gap: 30px;

			.left {
				gap: 10px;
			}

			.right {
				grid-template-columns: 1fr;
				gap: 0;
			}
		}
	}
}
