@import '/src/scss/vars';
@import '/src/scss/mixins';

.main {
	padding-top: 30px;
	position: relative;
	min-height: 150vh;

	background: no-repeat url('https://i.ibb.co/y54QgSq/image-100.png')
		center/cover;

	@include flex-column;
	align-items: center;

	@include mobile {
		padding-top: 50px;
		min-height: 100vh;
	}

	&:after {
		@include blur($accent-color, 358.902px, 293.047px, 41.599deg, 125px);

		top: 40%;
		left: 5%;

		z-index: 1;

		@include mobile {
			@include blur($accent-color, 148.66px, 121.38px, 41.599deg, 125px, 50px);
			z-index: 1;
			left: -25%;
			top: 30%;
		}
	}

	&:before {
		@include blur($active-color, 472.65px, 211.054px, -43.21deg, 472.65px);

		top: 10%;
		right: 2%;

		z-index: 1;

		@include mobile {
			@include blur(
				$active-color,
				100.65px,
				111.054px,
				-43.21deg,
				472.65px,
				50px
			);
			z-index: 1;

			top: 20%;
			right: 10%;
		}
	}

	.flowers {
		position: absolute;
		content: '';

		width: 100%;
		height: 100%;

		bottom: -5px;
		right: 0;

		background-image: linear-gradient(
				180deg,
				rgba(4, 10, 10, 0) 70%,
				$dark-color 100%
			),
			url('https://i.ibb.co/87K8M8t/image-101-2.png');
		background-repeat: no-repeat;
		background-size: cover;

		background-position: 50%;

		z-index: 5;
	}

	.content {
		position: relative;
		height: 100%;

		@include flex-column;
		justify-content: center;

		text-align: center;

		h1 {
			margin: 70px 0;

			font-family: Cormorant, serif;
			font-size: 180px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 40px;
			text-transform: uppercase;

			@include tablet {
				font-size: 100px;
				letter-spacing: 20px;
			}

			@include mobile {
				font-size: 50px;
				letter-spacing: 5px;

				margin: -50px 0;
			}
		}

		.subtitle {
			position: absolute;
			top: 65%;
			left: -3%;

			margin: 0;

			z-index: 5;

			@include mobile {
				bottom: 60%;
				left: 0;
			}
		}

		.text {
			position: absolute;
			top: 120%;
			left: 25%;

			z-index: 10;

			@include tablet {
				left: 0;
			}

			@include mobile {
				top: 95vh;
				padding-bottom: 50px;
			}

			.info {
				font-family: Oswald, serif;
				font-size: $subtitle-size;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.4px;

				text-transform: none;

				p {
					margin-bottom: 47px;

					@include mobile {
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	.right {
		position: absolute;
		top: 8%;
		right: 5%;

		height: 40%;

		@include flex-column;
		justify-content: space-between;
		text-align: right;

		z-index: 101;

		@include small-tablet {
			display: none;
		}

		&Block {
			margin-bottom: 30px;

			@include flex-column;
			align-items: flex-end;

			color: $light-color;
			font-size: $small-size;
			font-weight: 300;
			letter-spacing: 1px;

			font-style: normal;
			line-height: normal;
			text-transform: uppercase;

			p {
			}

			&:nth-child(2) {
				margin-bottom: 100px;
			}

			&:nth-child(3) {
				margin-bottom: 120px;
			}

			.mail,
			.address {
				margin-bottom: 4px;

				font-weight: 400;
				color: $accent-color;
				font-size: $second-size;
				letter-spacing: 1.4px;
			}

			.time {
				width: 30%;
				text-align: right;
			}

			.social {
				@include flex-column;

				border-radius: 10px;
				background: rgba(0, 0, 0, 0.2);
				backdrop-filter: blur(10px);

				padding: 15px;

				&Link {
					margin-bottom: 20px;

					&:last-child {
						margin: 0;
					}
				}
			}

			.phone {
				margin-bottom: 10px;

				color: $accent-color;
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 1.6px;
			}

			.phoneBtn {
				margin-right: -17px;
				border-radius: 10px;
				background: rgba(0, 0, 0, 0.2);
				backdrop-filter: blur(10px);

				padding: 9px 19px 9px 40px;

				color: $accent-color;
				font-size: $second-size;
				font-weight: 400;
				letter-spacing: 1.4px;

				span {
					position: absolute;
					content: '';

					top: 11.1px;
					left: 14px;

					width: 18px;
					height: 18px;

					background: url('https://svgur.com/i/zBm.svg');
				}
			}
		}
	}

	.flover {
		position: absolute;

		content: '';

		width: 305px;
		height: 140px;

		bottom: 0;
		right: 10%;
		background: no-repeat url('https://i.ibb.co/JQdrWrt/lover-flower.png')
			center/contain;

		z-index: 6;
	}
}
