@import '/src/scss/vars';
@import '/src/scss/mixins';

.root {
	padding-top: 14px;
	padding-bottom: 60px;
	font-weight: 300;
	font-size: $main-size;
	letter-spacing: 0.48px;
	background-color: $dark-color;

	ul {
		list-style: none;
	}

	.footer {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: $offset;

		@include tablet {
			grid-template-columns: repeat(3, 1fr);
			justify-items: center;
		}

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
			text-align: center;
			gap: 10px 0;
		}

		.title {
			margin-bottom: 10px;
			margin-top: 10px;
			color: $accent-color;
			font-size: $second-size;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.56px;
			text-transform: uppercase;

			&:first-child {
				margin-top: 0;
			}

			@include mobile {
				margin-bottom: 0;
			}
		}

		.address {
			max-width: 244px;
		}

		.block {
			@include flex-column;

			p {
				text-transform: uppercase;
			}

			ul {
				li {
					margin-bottom: 4px;
				}
			}

			.description {
				padding-top: 6px;

				.title {
					font-weight: 400;
					margin-bottom: 6px;
				}

				p {
					margin-bottom: 20px;

					@include mobile {
						margin-bottom: 5px;
					}
				}
			}

			.social {
				.link {
					margin-right: 20px;
				}

				@include mobile {
					margin-top: 20px;
				}
			}
		}

		.logo {
			@include mobile {
				display: none;
			}
		}

		.requisites {
			@include mobile {
				grid-row: 4;
			}
		}

		.catalogue {
			@include tablet {
				display: none;
			}

			@include mobile {
				display: block;

				ul {
					display: none;
				}
			}
		}

		.flowers {
			@include tablet {
				display: none;
			}
		}
	}
}
