@import 'src/scss/vars';
@import '/src/scss/mixins';

.root {
	position: relative;
	margin-bottom: 100px;

	&::after {
		position: absolute;
		content: '';
		top: 30%;
		right: 0;
		width: 354.93px;
		height: 364.216px;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		border-radius: 879.44px;
		background: $active-color;
		-webkit-filter: blur(125px);
		filter: blur(125px);
		z-index: -1;
	}

	img {
		width: 255px;
		height: 223px;
		-o-object-fit: cover;
		object-fit: cover;
		border-radius: 20px;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}

	.special {
		margin-bottom: 30px;

		@include grid;

		gap: 30px;
		-ms-grid-rows: auto 30px auto;
		grid-template-rows: repeat(2, auto);

		.title {
			-ms-grid-column: 1;
			-ms-grid-column-span: 5;
			grid-column: 1/6;

			&Bottom {
				position: relative;
				margin-left: 100%;
			}
		}

		.line {
			position: absolute;
			top: 50%;
			right: 50%;
			margin-right: 30px;
			display: block;
			width: 205px;
			height: 1px;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			background: $second-color;
		}

		.box {
			-ms-grid-column: 10;
			-ms-grid-column-span: 2;
			grid-column: 10/12;
		}

		.flowers,
		.note,
		.wreath {
			-ms-grid-row: 2;
			grid-row: 2/2;
		}

		.flowers {
			-ms-grid-column: 7;
			-ms-grid-column-span: 1;
			grid-column: 7/8;
		}

		.note {
			-ms-grid-column: 8;
			-ms-grid-column-span: 2;
			grid-column: 8/10;
			width: 160px;
		}

		.wreath {
			-ms-grid-column: 10;
			-ms-grid-column-span: 2;
			grid-column: 10/12;
		}

		.info {
			margin-left: 45px;
			-ms-grid-column: 1;
			-ms-grid-column-span: 5;
			grid-column: 1/6;
			-ms-grid-row: 2;
			grid-row: 2/2;
			width: 100%;

			p {
				margin-bottom: 40px;
			}

			ul {
				li {
					margin-bottom: 20px;
				}
			}
		}

		img {
			height: 292px;
		}

		@include for-desktop {
			img {
				width: 160px;
			}
		}

		@include tablet {
			.info {
				-ms-grid-column: 1;
				-ms-grid-column-span: 10;
				grid-column: 1/11;
				width: 100%;

				p {
					margin-bottom: 20px;
				}
			}

			img {
				display: none;
			}
		}

		@include small-tablet {
			h1 {
				font-size: 40px;
			}

			.line {
				width: 25vw;
			}
		}
	}

	.btn {
		position: relative;
		margin-left: 45px;
		padding: 16px 18px;
	}

	.arrow {
		position: absolute;
		bottom: 25px;
		left: -25px;
	}
}
