//@import './scss/vendor/normalize.css';
@import './scss/vars';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600&display=swap');

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	margin: 0 auto;

	font-family: Oswald, sans-serif;
	font-size: $second-size;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.56px;
	text-transform: uppercase;

	color: rgba($light-color, 0.87);
	background: $dark-color;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	min-width: 320px;
	min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
ul,
li {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	color: $light-color;
	font-family: Cormorant, serif;
	font-size: $title-size;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

p {
	color: $light-color;
}

a {
	text-decoration: none;
	color: $light-color;

	transition: color 0.2s linear;

	&:hover {
		color: $accent-color;
	}
}

button {
	font-family: Oswald, serif;
	font-size: $main-size;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;

	padding: 16px 50px;
	color: black;

	background: $accent-color;
	border: none;
	cursor: pointer;

	transition: background-color 0.25s;

	&:hover {
		background: $active-color;
		color: $light-color;
	}

	&:active {
		background: $active-color;
		color: $light-color;
		box-shadow: 0 0 10px 0 #52002a inset;
	}

	&:focus {
		color: $dark-color;

		border: 1px solid $active-color;
		background: $accent-color;
		box-shadow: none;
	}

	&:disabled {
		background: transparent;
		color: #555;
	}

	outline: none;
}

input {
	background-color: transparent;
	border: 2px solid $accent-color;
	color: $light-color;

	font-family: Oswald, serif;
	font-size: $second-size;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.56px;
	text-transform: uppercase;

	outline: none;

	transition: border-color 0.2s linear;

	&::placeholder {
		color: #395959;
	}

	&:focus {
		border: 2px solid $active-color;
		outline: none;
	}
}
