@import '/src/scss/vars';
@import '/src/scss/mixins';

.root {
	position: relative;
}

.swiper {
	margin: 0 65px;
}

.arrows {
	position: absolute;
	width: 100%;

	top: 40%;

	z-index: 10;

	.next {
		position: absolute;
		right: -10px;

		cursor: pointer;
	}

	.prev {
		position: absolute;
		left: -10px;

		cursor: pointer;
	}
}
