.root {
	position: relative;
}

.swiper {
	margin-right: 10px;
}

.img {
	position: relative;
	overflow: visible;
}

.new,
.sale {
	position: absolute;

	width: 60px;
	height: 60px;

	top: 5px;
	right: 15px;

	border-radius: 60px;

	z-index: 20;

	.ellipse {
		margin-top: 12px;

		color: #040a0a;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		letter-spacing: 0.4px;
		text-align: center;
	}
}

.new {
	background-color: #d978ac;
}

.sale {
	background-color: #31985a;
}

.info {
	display: flex;
	flex-direction: column;

	align-items: center;
	text-align: left;

	h3 {
		margin: 5px 0;

		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0.8px;
		text-transform: uppercase;
	}

	.price {
		margin-bottom: 20px;

		font-size: 14px;
		font-weight: 700;
	}

	button {
		padding: 16px 76px;

		border: 0.5px solid #fff;
		background: transparent;

		color: #fff;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.2px;
		text-transform: uppercase;

		transition: background-color 0.25s;

		&:hover {
			color: #040a0a;
			background: #43ffd2;

			border: 1px solid #43ffd2;
			box-shadow: none;
		}

		&:active {
			color: #040a0a;
			background: #43ffd2;

			border: none;
			box-shadow: 0 0 10px 0 #01281f inset;
		}

		&:focus {
			color: #fff;
			background: transparent;

			border: 0.5px solid #43ffd2;
			box-shadow: none;
		}
	}
}

.arrows {
	position: absolute;
	width: 100%;

	top: 40%;

	z-index: 10;

	.next {
		position: absolute;
		left: 100%;

		cursor: pointer;
	}

	.prev {
		position: absolute;
		right: 100%;

		cursor: pointer;
	}
}
