@import 'src/scss/vars';
@import 'src/scss/mixins';

.root {
	position: relative;

	margin-bottom: 100px;

	background: url('https://i.ibb.co/84K5dR2/image-115.png') no-repeat right 25px;

	background-size: 974px 748px;

	&:before {
		position: absolute;

		content: '';
		top: 40%;
		left: 0;

		width: 413.998px;
		height: 661.887px;
		transform: rotate(32.828deg);
		flex-shrink: 0;

		background: rgba(67, 255, 210, 0.47);

		filter: blur(125px);
		z-index: -1;
	}

	&:after {
		position: absolute;

		content: '';
		top: 60%;
		right: 15%;

		width: 571.277px;
		height: 396.429px;
		transform: rotate(32.828deg);
		flex-shrink: 0;

		background: $active-color;
		filter: blur(125px);

		z-index: -1;
	}

	.title {
		margin-bottom: 10px;
		.subtitle {
			margin-left: 380px;
		}
	}

	p {
		margin-bottom: 56px;

		font-size: $subtitle-size;
		font-weight: 300;
		letter-spacing: 0.4px;

		text-align: center;
	}

	.slider {
		margin-bottom: 60px;
	}

	.link {
		color: $second-color;
		font-size: $main-size;
		font-weight: 700;

		text-decoration-line: underline;
	}
}
